<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitpolarity.quicknotes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pubble"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_pubble_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickNotes">
        <activity
            android:name=".intents.SaveTextToExistingNoteActivity"
            android:exported="true" />
        <activity
            android:name=".NoteEditor.NoteEditorActivity"
            android:exported="true" />
        <activity
            android:name=".AuthActivity"
            android:exported="true" />
        <activity
            android:name=".modal"
            android:exported="true" />
        <activity
            android:name=".intents.ReadLaterActivity"
            android:exported="true"
            android:label="@string/label_add"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".tileServices.QuickAddNoteTileService"
            android:exported="true"
            android:icon="@drawable/ic_baseline_note_add_24"
            android:label="@string/add_notes"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service android:name=".powerbutton.LockService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </service>
    </application>

</manifest>